<html>
	<head>
		<link rel="stylesheet" type="text/css" href="Chart.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
		<title>
			GIE Analysis
		</title>
	</head>
	<body>
		<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    Click to toggle Graduate Innovation Engineers List  
  </button>
		<div class="container rows-print-as-pages">
			<div class="collapse" id="collapseExample">
  				<div class="card card-body">
  					<p>
				<% for(var index = 0; index<candidate.length; index++){ %>
					<button onclick="getChart(
						[
								<%=candidate[index].Hardware_IoT.march.scale%>,
						    	<%=candidate[index].AI_ML_Data_Science.march.scale%>,
						    	<%=candidate[index].Software_Application_Development.march.scale%>, 
						    	<%=candidate[index].Industry_Product_Design.march.scale%>,
						    	<%=candidate[index].Software_Platforms.march.scale%>,
						    	<%=candidate[index].Programming_Application_Platform.march.scale%>,
						    	<%=candidate[index].IP.march.scale%>,
						    	<%=candidate[index].Innovation.march.scale%>
						], 
						[
								<%=candidate[index].Hardware_IoT.may.scale%>,
						    	<%=candidate[index].AI_ML_Data_Science.may.scale%>,
						    	<%=candidate[index].Software_Application_Development.may.scale%>, 
						    	<%=candidate[index].Industry_Product_Design.may.scale%>,
						    	<%=candidate[index].Software_Platforms.may.scale%>,
						    	<%=candidate[index].Programming_Application_Platform.may.scale%>,
						    	<%=candidate[index].IP.may.scale%>,
						    	<%=candidate[index].Innovation.may.scale%>
						],

						' <%=candidate[index].name%> ' ,

						[ <%=candidate[index].Hardware_IoT.march.kra%>] ,
				    	[ <%=candidate[index].AI_ML_Data_Science.march.kra%>] ,
				    	[ <%=candidate[index].Software_Application_Development.march.kra%>] , 
				    	[ <%=candidate[index].Industry_Product_Design.march.kra%>] ,
				    	[ <%=candidate[index].Software_Platforms.march.kra%>] ,
				    	[ <%=candidate[index].Programming_Application_Platform.march.kra%>] ,
				    	[ <%=candidate[index].IP.march.kra%>] ,
				    	[ <%=candidate[index].Innovation.march.kra%>] ,


				    	[ <%=candidate[index].Hardware_IoT.may.kra%>] ,
				    	[ <%=candidate[index].AI_ML_Data_Science.may.kra%>] ,
				    	[ <%=candidate[index].Software_Application_Development.may.kra%>] , 
				    	[ <%=candidate[index].Industry_Product_Design.may.kra%>] ,
				    	[ <%=candidate[index].Software_Platforms.may.kra%>] ,
				    	[ <%=candidate[index].Programming_Application_Platform.may.kra%>] ,
				    	[ <%=candidate[index].IP.may.kra%>] ,
				    	[ <%=candidate[index].Innovation.may.kra%>] ,


											)"> 
												<%= candidate[index].name%>
					</button>
				<% } %>
				</p>
  				</div>
			</div>
			

				


			<div class="row">
			  <div class="col-12">
			    <div class="card">
			      <div class="card-body">
			      	<h3 id="name"></h3>
			        <p>Overall</p>
					<canvas  id="bar-chart"></canvas>
			      </div>
			    </div>
			  </div>
			</div>
		
			<div class="row">
			  <div class="col-6">
			    <div class="card">
			      <div class="card-body">
			        <p>Hardware/IoT</p>
					<canvas  id="hwi-radar"></canvas>
			      </div>
			    </div>
			  </div>
			  <div class="col-6">
			    <div class="card">
			      <div class="card-body">
			        <p>AI/ML & Data Science</p>
					<canvas  id="amd-radar"></canvas>
			      </div>
			    </div>
			  </div>
			</div>

			<div class="row">
			  <div class="col-6">
			    <div class="card">
			      <div class="card-body">
			        <p>Software/Application Development</p>
					<canvas  id="sad-radar"></canvas>
			      </div>
			    </div>
			  </div>
			  <div class="col-6">
			    <div class="card">
			      <div class="card-body">
			        <p>Industry/Product Design</p>
					<canvas  id="ipd-radar"></canvas>
			      </div>
			    </div>
			  </div>
			</div>	

			<div class="row">
			  <div class="col-6">
			    <div class="card">
			      <div class="card-body">
			        <p>Software Platforms</p>
					<canvas  id="sps-radar"></canvas>
			      </div>
			    </div>
			  </div>
			  <div class="col-6">
			    <div class="card">
			      <div class="card-body">
			        <p>Programming Application Platform</p>
					<canvas  id="pap-radar"></canvas>
			      </div>
			    </div>
			  </div>
			</div>	

			<div class="row">
			  <div class="col-6">
			    <div class="card">
			      <div class="card-body">
			        <p>Intellectual Property</p>
					<canvas  id="ips-radar"></canvas>
			      </div>
			    </div>
			  </div>
			  <div class="col-6">
			    <div class="card">
			      <div class="card-body">
			        <p>Innovation</p>
					<canvas  id="ino-radar"></canvas>
			      </div>
			    </div>
			  </div>
			</div>	
		</div>
		
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.js"></script>
		<script type="text/javascript">
		function getChart(marchList, mayList, name, hwi_march_kra, amd_march_kra, sad_march_kra, ipd_march_kra, sps_march_kra, pap_march_kra, ips_march_kra, ino_march_kra, hwi_may_kra, amd_may_kra, sad_may_kra, ipd_may_kra, sps_may_kra, pap_may_kra, ips_may_kra, ino_may_kra)
		{
			ips_may_kra.push(0)
			ips_march_kra.push(0)
			console.log(ips_may_kra.length);
			document.getElementById('name').innerHTML = name + " GIE DATA";
			var ctx = document.getElementById('bar-chart');
			var ct2 = document.getElementById('hwi-radar');
			var ct3 = document.getElementById('amd-radar');
			var ct4 = document.getElementById('sad-radar');
			var ct5 = document.getElementById('ipd-radar');
			var ct6 = document.getElementById('sps-radar');
			var ct7 = document.getElementById('pap-radar');
			var ct8 = document.getElementById('ips-radar');
			var ct9 = document.getElementById('ino-radar');
			var myBarChart = new Chart(ctx, {
										    type: 'bar',
										    data: 
										    {
        										labels: [
        													'Hardware/IoT', 
        													'AI/ML & Data Science', 
        													'Software/Application Development', 
        													'Industry/Product Design', 
        													'Software Platforms', 
        													'Programming Application Platform', 
        													'Intellectual Property', 
        													'Innovation'
        												],
										        datasets: 
										        [
										        {
										            label: 'MARCH SCORE',
										            data: marchList,
										            backgroundColor: 'rgba(255, 99, 132, 0.2)',
										            borderColor:'rgba(255, 99, 132, 1)',
										            borderWidth: 1
										        }, 
										        {
										            label: 'MAY SCORE',
										            data: mayList,
										            backgroundColor: 'rgba(132, 99, 255, 0.2)',
										            borderColor: 'rgba(132, 99, 255, 0.2)',
										            borderWidth: 1
										        }, 
    											]
    										},
    										options: 
    										{
    											events: ['click'],
    											hover: {
											        	// Overrides the global setting
											            // mode: 'point'
											            showTooltips: false
											        },

											        scales: {
											            yAxes: [{
											            		ticks: {
											            			beginAtZero: true,
											            			stepSize: 1,
											            			max: 10,
											            		}
											            		}
											            		]
											        	}
									    	}
										});

			var hwi_radar = new Chart(ct2, {
		    type: 'radar',
		    data: {
    			labels: 	['Electronic Circuit Design','PCB Designing ', 
    						'Embedded Hardware Platform', 'Sensor & Actuators', 
    						'Module Integration with uP and uC', 
    						'System Interfaces implementation', 
    						'Data Acquisition Techniques', 
    						'Basics of Networking', 'Power Design for Circuits'],
			    datasets: [
			    	{
			    		label: "MARCH",
			        	data: hwi_march_kra,
			        	backgroundColor: 'rgba(255, 99, 132, 0.2)',
			        	borderColor: 'rgba(255, 99, 132, 1)',
			        	borderWidth: 1,

			    	},
			    	{
			    		label: "MAY",
			        	data: hwi_may_kra,
			        	backgroundColor: 'rgba(132, 99, 255, 0.2)',
			        	borderColor: 'rgba(132, 99, 255, 1)',
			        	borderWidth: 1,
			    	},
			    	]
				},
			options:
				{
					events: ['click'],
					scale: {
							ticks: {
				        			min: 0,
				        			stepSize: 10,
				        			max: 50,
        					}		
					},
					
		    	}
			});

			var amd_radar = new Chart(ct3, {
		    type: 'radar',
		    data: {
    			labels: [
    						'Data Modelling and Evaluation',
    						'Probability & Statistics',
    						'Applied Math & Algorithms',
    						'Applied Machine Learning Models',
    						'Distributed Computing',
    						'Edge Computing'],
			    datasets: [
			    	{
			    		label: "MARCH",
			        	data: amd_march_kra,
			        	backgroundColor: 'rgba(255, 99, 132, 0.2)',
			        	borderColor: 'rgba(255, 99, 132, 1)',
			        	borderWidth: 1,
			    	},
			    	{
			    		label: "MAY",
			        	data: amd_may_kra,
			        	backgroundColor: 'rgba(132, 99, 255, 0.2)',
			        	borderColor: 'rgba(132, 99, 255, 1)',
			        	borderWidth: 1,
			    	},
			    	]
				},
			options:
				{
					events: ['click'],
					scale: {
							ticks: {
				        			min: 0,
				        			stepSize: 10,
				        			max: 50,
        					}		
					}
		    	}
			});

			var sad_radar = new Chart(ct4, {
		    type: 'radar',
		    data: {
    			labels: [
    						'Application Architecture Design', 
    						'Mobile Application Development',
    						'Cloud Platforms',
    						'Web Application Development',	
    						'Linux & Mac Packaging and Deployment'
    					],
			    datasets: [
			    	{
			    		label: "MARCH",
			        	data: sad_march_kra,
			        	backgroundColor: 'rgba(255, 99, 132, 0.2)',
			        	borderColor: 'rgba(255, 99, 132, 1)',
			        	borderWidth: 1,
			    	},
			    	{
			    		label: "MAY",
			        	data: sad_may_kra,
			        	backgroundColor: 'rgba(132, 99, 255, 0.2)',
			        	borderColor: 'rgba(132, 99, 255, 1)',
			        	borderWidth: 1,
			    	},
			    	]
				},
			options:
				{
					events: ['click'],
					scale: {
							ticks: {
				        			min: 0,
				        			stepSize: 10,
				        			max: 50,
        					}		
					}
		    	}
			});

			var ipd_radar = new Chart(ct5, {
		    type: 'radar',
		    data: {
    			labels: [
    						'Rapid Prototyping',
    						'Industrial Design',	
    						'UI/UX Design',
    						'CAD Design',
    						'Analysis of Mechanical Design',
    					],
			    datasets: [
			    	{
			    		label: "MARCH",
			        	data: ipd_march_kra,
			        	backgroundColor: 'rgba(255, 99, 132, 0.2)',
			        	borderColor: 'rgba(255, 99, 132, 1)',
			        	borderWidth: 1,
			    	},
			    	{
			    		label: "MAY",
			        	data: ipd_may_kra,
			        	backgroundColor: 'rgba(132, 99, 255, 0.2)',
			        	borderColor: 'rgba(132, 99, 255, 1)',
			        	borderWidth: 1,
			    	},
			    	]
				},
			options:
				{
					events: ['click'],
					scale: {
							ticks: {
				        			min: 0,
				        			stepSize: 10,
				        			max: 50,
        					}		
					}
		    	}
			});

			var sps_radar = new Chart(ct6, {
		    type: 'radar',
		    data: {
    			labels: [
    						'EAGLE PCB',
    						'PSIM/MultiSIM',	
    						'LabVIEW',	
    						'MATLAB',	
    						'TABLEAU',
    						'Google Analytics, TIBCO SpotFire',
    					],
			    datasets: [
			    	{
			    		label: "MARCH",
			        	data: sps_march_kra,
			        	backgroundColor: 'rgba(255, 99, 132, 0.2)',
			        	borderColor: 'rgba(255, 99, 132, 1)',
			        	borderWidth: 1,
			    	},
			    	{
			    		label: "MAY",
			        	data: sps_may_kra,
			        	backgroundColor: 'rgba(132, 99, 255, 0.2)',
			        	borderColor: 'rgba(132, 99, 255, 1)',
			        	borderWidth: 1,
			    	},
			    	]
				},
			options:
				{
					events: ['click'],
					scale: {
							ticks: {
				        			min: 0,
				        			stepSize: 10,
				        			max: 50,
        					}		
					}
		    	}
			});

			var pap_radar = new Chart(ct7, {
		    type: 'radar',
		    data: {
    			labels: [
    						'Defining Problem, Problem Decomposition and Planning Code',
    						'Computer Science Fundamentals',	
    						'Programming Techniques',
    						'Programming Languages Known',
    					],
			    datasets: [
			    	{
			    		label: "MARCH",
			        	data: pap_march_kra,
			        	backgroundColor: 'rgba(255, 99, 132, 0.2)',
			        	borderColor: 'rgba(255, 99, 132, 1)',
			        	borderWidth: 1,
			    	},
			    	{
			    		label: "MAY",
			        	data: pap_may_kra,
			        	backgroundColor: 'rgba(132, 99, 255, 0.2)',
			        	borderColor: 'rgba(132, 99, 255, 1)',
			        	borderWidth: 1,
			    	},
			    	]
				},
			options:
				{
					events: ['click'],
					scale: {
							ticks: {
				        			min: 0,
				        			stepSize: 10,
				        			max: 50,
        					}		
					}
		    	}
			});

			var ips_radar = new Chart(ct8, {
		    type: 'radar',
		    data: {
    			labels: [
    						'IP Exploration & Patent Search',	
    						'Patent Drafting',
    						'Keyword Search'
    					],
			    datasets: [
			    	{
			    		label: "MARCH",
			        	data: ips_march_kra,
			        	backgroundColor: 'rgba(255, 99, 132, 0.2)',
			        	borderColor: 'rgba(255, 99, 132, 1)',
			        	borderWidth: 1,
			    	},
			    	{
			    		label: "MAY",
			        	data: ips_may_kra,
			        	backgroundColor: 'rgba(132, 99, 255, 0.2)',
			        	borderColor: 'rgba(132, 99, 255, 1)',
			        	borderWidth: 1,
			    	},
			    	]
				},
			options:
				{
					events: ['click'],
					scale: {
							ticks: {
				        			min: 0,
				        			stepSize: 10,
				        			max: 50,
        					}		
					}
		    	}
			});		


			var ino_radar = new Chart(ct9, {
		    type: 'radar',
		    data: {
    			labels: [
    						'Problem Validation	Customer Discovery',
    						'Crafting & Testing Value Proposition',	
    						'Solution Alternatives Exploration',
    						'Product Vision & Pitch',
    						'Grant Proposal Writing',
    						'Milestone Planning and Reporting',
    					],
			    datasets: [
			    	{
			    		label: "MARCH",
			        	data: ino_march_kra,
			        	backgroundColor: 'rgba(255, 99, 132, 0.2)',
			        	borderColor: 'rgba(255, 99, 132, 1)',
			        	borderWidth: 1,
			    	},
			    	{
			    		label: "MAY",
			        	data: ino_may_kra,
			        	backgroundColor: 'rgba(132, 99, 255, 0.2)',
			        	borderColor: 'rgba(132, 99, 255, 1)',
			        	borderWidth: 1,
			    	},
			    	]
				},
			options:
				{
					events: ['click'],
					scale: {
							ticks: {
				        			min: 0,
				        			stepSize: 10,
				        			max: 50,
        					}		
					}
		    	}
			});				
}
		</script>
	
	</body>

</html>